<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luowei.tstore" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--图片预览-->
        <activity android:name=".module.common.PhotoViewActivity">
        </activity>
        <activity
            android:name="com.luowei.tstore.module.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.ocr.OCRActivity">
            <intent-filter>
                <action android:name="tstore.intent.action.BAIDU_OCR"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.idcard.IdcardActivity">
            <intent-filter>
                <action android:name="tstore.intent.action.BAIDU_IDCARD"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.iplookup.IplookupActivity">
            <intent-filter>
                <action android:name="tstore.intent.action.BAIDU_IPLOOKUP"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.stock.StockActivity">
            <intent-filter>
                <action android:name="tstore.intent.action.BAIDU_STOCK"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.pullword.PullwordActivity">
            <intent-filter>
                <action android:name="tstore.intent.action.BAIDU_PULLWORD"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.phonelocal.PhoneLocalActivity">
            <intent-filter>
                <action android:name="tstore.intent.action.BAIDU_PHONE_LOCAL"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.dictionary.DictionaryActivity">
            <intent-filter>
                <action android:name="tstore.intent.action.BAIDU_DICTIONARY"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.currency.ActivityCurrency">
            <intent-filter>
                <action android:name="tstore.intent.action.BAIDU_CURRENCY"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.qunaer.QunaerLIstActivity">
            <intent-filter>
                <action android:name="tstore.intent.action.BAIDU_QUNAER_TICKET"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.qunaer.QunaerDetailActivity">
        </activity>
        <activity android:name=".module.common.WebActivity">
        </activity>
    </application>

</manifest>
